page-contact {

}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 1.3em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

  .facebook{
      color: #3b5998;
  }

  .twitter{
      color: #00acee;
  }

  .mail{
      color: #F49D37;
  }

  .instagram{
      color: #E4405F;
  }

  .deleteBtn{
      float: right;
  }